:root {
	--background: #241F2E;

	--question-border: #5E3A53;
	--question-background: #A15666;
	--question-text: #c7c0ce;
	--question-width: 100%;
	--question-height: 40px;

	--option-border: #5E3A53;
	--option-background: #A15666;
	--option-text: #c7c0ce;
	--option-width: 90%;
	--option-height: 25px;

	--answer-border: #5E3A53;
	--answer-background: #A15666;
	--answer-text: #c7c0ce;
	--answer-width: 80%;

	--button-background: #A15666;
	--button-text: #c7c0ce;

	--end-screen-background: #ffffff44;
	--end-screen-text: #ffffff;
}

body {
	background-color: var(--background);
	user-select: none;
}

.quiz {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question {
	width: 80%;
}

.question > h3 {
	display: flex;
	align-items: center;
	max-width: var(--question-width);
	height: var(--question-height);
	margin-top: 0px;
	padding: 0px 7px;
	border: 2px solid var(--question-border);
	background-color: var(--question-background);
	color: var(--question-text);
}

.question > ol > li {
	--before-content: 'radio_button_unchecked';
	display: flex;
	align-items: center;
	margin: 5px 0px;
	padding: 0px 7px;

	max-width: var(--option-width);
	height: var(--option-height);
	border: 2px solid var(--option-border);
	background-color: var(--option-background);

	color: var(--question-text);
}

.option-interact {
	cursor: pointer;
}

.option-interact:hover {
	filter: brightness(90%);
}

.question > ol > li::before {
	font-family: 'Material Icons Outlined';
	content: var(--before-content);
	margin-right: 7px;
}

.answer {
	display: none;
	width: var(--answer-width);
	margin: 1em 0px;
	padding: 0px 7px;

	border: 2px solid var(--answer-border);
	background-color: var(--answer-background);

	color: var(--answer-text);
}

.answer > p {
	display: none;
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	min-width: 150px;
	max-width: fit-content;
	height: 32px;
	padding: 0px 7px;

	background-color: var(--button-background);

	color: var(--button-text);
}

.button-interact {
	cursor: pointer;
}

.button-interact:hover {
	filter: brightness(115%);
}

.button-interact:active {
	filter: brightness(90%);
}

.end-screen {
	width: 100%;
	height: 100vh;
	background-color: var(--end-screen-background);
	position: sticky;
	top: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	text-align: center;
	font-size: 3em;
	color: var(--end-screen-text);
}

@media (pointer:none), (pointer:coarse) {
	body {
		font-size: 12px;
	}
}